@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, #ChannelForm {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#userForm {
    flex: 1
}

