body, html, #root {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  flex: 0 0 auto;
}

main {
  display: flex;
  flex-direction: column;
}

.MessageBox {
  max-height: 65vh;
  flex: 1 1 auto;
  overflow-y: auto;
  border: solid 1px #ccc;
}

.sender {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4px;
  margin-top: 4px;
}

.channel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

input {
  width: 100%;
}

input, button {
  margin: 3px 3px 0px 5px;
}
