@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, #Homediv {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    margin: 2px 15px ;
}

footer {
    margin: 0;
}

#Channel, #Invitations, #Mychat, #Profile {
    display: none;
}

button {
    margin: 0 3px;
}