.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}

.connected {
    background-color: lime;
}

.disconnected {
    border-color: black;
    border-width: thin;
}
